* {
  box-sizing: border-box; }

.page-wrap {
  max-width: 800px;
  margin: 20px auto; }

.main-story {
  position: relative;
  margin: 0 0 25px 0; }

img {
  display: block;
  width: 100%;
  height: auto; }

a {
  color: lightblue; }

.story-intro {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  color: white; }

h1 {
  font-size: 4em;
  margin: 0 0 10px 0; }

h2 {
  margin: 0 0 10px 0; }

.story-intro h1 {
  font-size: 2.5em; }
.story-intro p {
  margin: 0; }

.sub-stories {
  overflow: hidden;
  margin: 0 0 25px 0; }

.sub-story {
  float: left;
  width: 30%;
  margin-right: 5%;
  position: relative;
  font-size: 80%; }

.last {
  margin-right: 0; }

@media all and (max-width: 700px) {
  .story-intro {
      padding: 4%;
   } 
  .sub-story {
    float: none;
    margin-right: 0px;
    position: relative;
    font-size: 80%;
    margin:5px auto;
    width: auto;
    max-width: 250px;
  }

  .sub-story img{
    width: auto;
    height: auto;
    margin:5px auto;
  }

  .story-intro h1{
  font-size: 1em; 
 }

   .story-intro p{
  font-size: .9em; 
 }



}
